.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0px 20px;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
}
.nav-items > ul > li {
  padding: 20px;
}
.res-card {
  width: 12.5vw;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 7px;
  font-size: 1rem;
  /* background-image: linear-gradient(
    180deg,
    rgb(190, 186, 182),
    rgb(216, 212, 212),
    rgb(255, 252, 252)
  ); */
}
.res-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.res-card:hover {
  cursor: pointer;
  /* background-image: linear-gradient(
    180deg,
    rgb(247, 209, 138),
    rgb(238, 223, 190),
    rgb(255, 255, 255)
  ); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0.6rem;
}
.filter {
  padding: 1em;
}
.filter-btn{
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  background-color: rgb(78, 48, 245);
  color: white;
  transition: all 0.3s ease;
}
.filter-btn:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.res-logo {
  width: 100%;
  height: 42%;
  border-radius: 10px;
}
.body {
  width: 85vw;
  margin: auto;
}
.shimmer-container{
  display: flex;
}
.shimmer-card{
  width: 13vw;
  height: 400px;
  margin: 0.7rem;
  background-image: linear-gradient(
    180deg,
    rgb(190, 186, 182),
    rgb(216, 212, 212),
    rgb(255, 252, 252)
  );
}
.login-btn{
  padding: 0.3rem 1.3rem;
  border: none;
  background-color: rgb(132, 134, 233);
  cursor: pointer;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  color: white;
  transition: all 0.3s ease;
}
.login-btn:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.search{
  display: flex;
  gap: 0.5rem;
}
.search-btn{
  cursor: pointer;
}